---
import NavBar from "@/components/NavBar.astro";
import MainLayout from "../layouts/MainLayout.astro";
import { NavMenu } from "@/components/Navigation.tsx"
---

<MainLayout title="Astro" description="">
	<NavBar />
	<h1>Astro</h1>
	<h2>Astro</h2>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus rem, et praesentium expedita optio nulla iusto impedit provident sunt voluptate saepe porro sapiente enim? Nam reprehenderit modi hic libero doloribus.</p>
</MainLayout>